.landing_section{
    @include base(100%, 100vh);
    overflow: hidden;
    box-sizing: border-box;
    @include md(){
        background-color: $bg_gray_color;
    }
    .landing_wrapper{
        height: 100vh;
        background-image: url(../assets/images/landing//side-1.png),url(../assets/images/landing//side-2.png);
        background-repeat: no-repeat;
        background-position: 0 100%,100% 0;
        @include md(){
            background: none;
        }
    }
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    max-width: 85vw;
    @include margin_auto;
    @include sm(){
        padding: 1.5rem;
    }
}
.banner_intro{
    max-width: 1300px;
    margin: auto;
}
.banner_intro_wrapper{
    position: relative;
    background-color: $bg_gray_color;
    max-width: 80vw;
    height: 40vw;
    border-radius: 34px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    .title_main_text{
        width: 13.75rem;
    }
    h1{
        background: -webkit-linear-gradient(-90deg, #35A483, #077854);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
        font-size: 3.1rem;
    }
    .dec_btn{
        position: absolute;
        left: 0;
        @include md(){
            display: none;
        }
    }
}
.banner_title_box{
    padding-top: 4rem;
    @include md(){
        display: none;
    }
}
.landing_wrapper{
    position: relative;
    .side_plant{
        position: absolute;
        bottom: -15%;
        z-index: 4;
    }
    .side_base{
        position: absolute;
        bottom: 12%;
        z-index: 3;
    }
    .side_plant_2{
        position: absolute;
        right: 0;
        top: 5%;
    }
}
.banner_content{
    @include base(26rem, 23.5rem);
    background-color: #fff;
    border-radius: 26px;
    border: 2px dashed #B7B7B7;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2.5rem;
    position: relative;
    @include md(){
        @include base(34rem, 35rem);
        display: flex;
        justify-content: start;
    }
    @include sm(){
        @include base(299px, 384px);
        margin-top: 0;
    }
    .file_img{
        @include md(){
            margin: 3rem 0;
            @include base(14rem, 11rem);
        }
        @include sm(){
            @include base(134px, 110px);
        }
    }
    .banner_group_img{
        position: absolute;
        @include base(720px, 480px);
        bottom: -70%;
        @include md(){
            display: none;
        }
    }
    .rwd_people_group_img{
        position: absolute;
        bottom: -30%;
        @include special{
            display: none;
        }
        @include sm(){
            bottom: -35%;
            @include base(320px, 200px);
        }
    }
}
// input style
.file_upload_box{
    position: relative;
    .main_upload_label{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 1rem;
    }
    .upload_file_input{
        position: absolute;
        opacity: 0;
        top: 0;
        width: 100%;
        cursor: pointer;
        padding: 1rem;
        z-index: 100;
    }
}
.content_text{
    text-align: center;
    .text_style_draggable{
        @include md(){
            display: none;
        }
    }
}
