
//font
$primary_color: #1C8B6A;

//brush color
$brush_blue: #0014C7;
$brush_red: #CA0000;

//bg color
$bg_gray_color: #F0F0F0;

//share-text-style
$share_text_color_g: #35A483;
$share_text_color_b: #424242;

.text_style_g{
    color: $share_text_color_g;
    font-size: 14px;
    font-weight: 400;
}
.text_style_b{
    font-size: 16px;
    color: $share_text_color_b;
}
